<!DOCTYPE html>
<html>
	<head>
		<title>定时任务</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/layui-v2.4.5/layui/css/layui.css" media="all">
		<style type="text/css">
			.layui-table-view {
				margin-top: 0;
			}
		</style>
	</head>
	<body>
		<div id="rrapp" v-cloak>
			<div v-show="showList">
				<div style="margin-bottom: 10px">
					<div class="layui-inline">
						<input type="text" autocomplete="off" placeholder="bean名称" class="layui-input" style="height:32px;" v-model="q.beanName"
						 @keyup.enter="query">
					</div>
					<button class="layui-btn layui-btn-sm" @click="query"><i class="layui-icon layui-icon-search"></i>&nbsp;查询</button>
					<button v-if="hasPermission('sys:schedule:save')" class="layui-btn layui-btn-sm" @click="add"><i class="layui-icon layui-icon-add-1"></i>&nbsp;新增</button>
					<button v-if="hasPermission('sys:schedule:update')" class="layui-btn layui-btn-sm" @click="update"><i class="layui-icon layui-icon-edit"></i>&nbsp;修改</button>
					<button v-if="hasPermission('sys:schedule:delete')" class="layui-btn layui-btn-sm" @click="del"><i class="layui-icon layui-icon-delete"></i>&nbsp;删除</button>
					<button v-if="hasPermission('sys:schedule:pause')" class="layui-btn layui-btn-sm" @click="pause"><i class="layui-icon layui-icon-pause"></i>&nbsp;暂停</button>
					<button v-if="hasPermission('sys:schedule:resume')" class="layui-btn layui-btn-sm" @click="resume"><i class="layui-icon layui-icon-play"></i>&nbsp;恢复</button>
					<button v-if="hasPermission('sys:schedule:run')" class="layui-btn layui-btn-sm" @click="runOnce"><i class="layui-icon layui-icon-next"></i>&nbsp;立即执行</button>
					<a v-if="hasPermission('sys:schedule:log')" href="schedule_log.html" class="layui-btn layui-btn-sm layui-btn-danger"
					 style="float: right;">日志列表</a>
				</div>
				<table id="layuiTable" lay-filter="test"></table>
			</div>

			<div v-show="!showList" class="panel panel-default">
				<div style="background: #F2F2F2; padding: 15px;">
					<div class="layui-card">
						<div class="layui-card-header">{{title}}</div>
						<div class="layui-card-body">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<label class="layui-form-label">bean名称</label>
									<div class="layui-input-block">
										<input type="text" name="beanName" placeholder="spring bean名称，如：testTask" autocomplete="off" class="layui-input"
										 v-model="schedule.beanName">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">方法名称</label>
									<div class="layui-input-block">
										<input type="text" name="methodName" placeholder="方法名称" autocomplete="off" class="layui-input" v-model="schedule.methodName">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">参数</label>
									<div class="layui-input-block">
										<input type="text" name="params" placeholder="参数" autocomplete="off" class="layui-input" v-model="schedule.params">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">cron表达式</label>
									<div class="layui-input-block">
										<input type="text" name="cronExpression" placeholder="如：0 0 12 * * ?" autocomplete="off" class="layui-input"
										 v-model="schedule.cronExpression">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">备注</label>
									<div class="layui-input-block">
										<input type="text" name="remark" placeholder="备注" autocomplete="off" class="layui-input" v-model="schedule.remark">
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button type="button" class="layui-btn" @click="saveOrUpdate">确定</button>
										<button type="button" class="layui-btn layui-btn-primary" @click="reload">返回</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../libs/jquery.min.js"></script>
		<script src="../../plugins/layer/layer.js"></script>
		<script src="../../libs/vue.min.js"></script>
		<script src="../../plugins/layui-v2.4.5/layui/layui.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/modules/job/schedule.js"></script>
	</body>
</html>
