<!DOCTYPE html>
<html>
	<head>
		<title>部门管理</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/layui-v2.4.5/layui/css/layui.css" media="all">
		<style type="text/css">
			.layui-table-view {
				margin-top: 0;
			}
		</style>
	</head>
	<body>
		<div id="rrapp" v-cloak>
			<div v-show="showList">
				<div style="margin-bottom: 10px;">
					<button v-if="hasPermission('sys:dept:save')" class="layui-btn layui-btn-sm" @click="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
					<button v-if="hasPermission('sys:dept:update')" class="layui-btn layui-btn-sm" @click="update"><i class="layui-icon layui-icon-edit"></i>修改</button>
					<button v-if="hasPermission('sys:dept:delete')" class="layui-btn layui-btn-sm" @click="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
				</div>
				<!-- <table id="layuiTable" lay-filter="test"></table> -->
				<div id="layuiTable"></div>
			</div>

			<div v-show="!showList">
				<div style="background: #F2F2F2; padding: 15px;">
					<div class="layui-card">
						<div class="layui-card-header">{{title}}</div>
						<div class="layui-card-body">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<label class="layui-form-label">部门名称</label>
									<div class="layui-input-block">
										<input type="text" name="name" placeholder="部门名称" autocomplete="off" class="layui-input" v-model="dept.name"
										 lay-verify="required">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">上级部门</label>
									<div class="layui-input-block">
										<input type="text" name="parentName" placeholder="一级部门" autocomplete="off" class="layui-input" v-model="dept.parentName"
										 lay-verify="required" readonly="readonly" @click="deptTree" style="cursor: pointer;">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">排序号</label>
									<div class="layui-input-block">
										<input type="number" name="orderNum" placeholder="排序号" autocomplete="off" class="layui-input" v-model="dept.orderNum"
										 lay-verify="required">
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button type="button" class="layui-btn" lay-submit lay-filter="saveBtn" @click="saveOrUpdate">确定</button>
										<button type="button" class="layui-btn layui-btn-primary" @click="reload">返回</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>

		<!-- 选择部门 -->
		<div id="deptLayer" style="display: none;padding:10px;">
			<ul id="deptTree" class="ztree"></ul>
		</div>

		<script src="../../libs/jquery.min.js"></script>
		<script src="../../plugins/layer/layer.js"></script>
		<script src="../../libs/vue.min.js"></script>
		<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
		<script src="../../plugins/layui-v2.4.5/layui/layui.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/modules/sys/dept.js"></script>

	</body>
</html>
