<!DOCTYPE html>
<html>
	<head>
		<title>菜单管理</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/layui-v2.4.5/layui/css/layui.css" media="all">
		<style type="text/css">
			.layui-table-view {
				margin-top: 0;
			}
		</style>
	</head>
	<body>
		<div id="rrapp" v-cloak>
			<div v-show="showList">
				<div style="margin-bottom: 10px;">
					<button v-if="hasPermission('sys:menu:save')" class="layui-btn layui-btn-sm" @click="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
					<button v-if="hasPermission('sys:menu:update')" class="layui-btn layui-btn-sm" @click="update"><i class="layui-icon layui-icon-edit"></i>修改</button>
					<button v-if="hasPermission('sys:menu:delete')" class="layui-btn layui-btn-sm" @click="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
				</div>
				<table id="layuiTable" lay-filter="test"></table>
			</div>

			<div v-show="!showList">
				<div style="background: #F2F2F2; padding: 15px;">
					<div class="layui-card">
						<div class="layui-card-header">{{title}}</div>
						<div class="layui-card-body">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<label class="layui-form-label">类型</label>
									<div class="layui-input-block">
										<input type="radio" name="type" value="0" title="目录" v-model="menu.type" lay-filter="radioChange">
										<input type="radio" name="type" value="1" title="菜单" v-model="menu.type" lay-filter="radioChange">
										<input type="radio" name="type" value="2" title="按钮" v-model="menu.type" lay-filter="radioChange">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">菜单名称</label>
									<div class="layui-input-block">
										<input type="text" name="name" placeholder="菜单名称或按钮名称" autocomplete="off" class="layui-input" v-model="menu.name"
										 lay-verify="required">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">上级菜单</label>
									<div class="layui-input-block">
										<input type="text" name="parentName" placeholder="一级菜单" autocomplete="off" class="layui-input" v-model="menu.parentName"
										 lay-verify="required" readonly="readonly" @click="menuTree" style="cursor: pointer;">
									</div>
								</div>
								<div v-if="menu.type == 1" class="layui-form-item">
									<label class="layui-form-label">菜单URL</label>
									<div class="layui-input-block">
										<input type="text" name="url" placeholder="菜单URL" autocomplete="off" class="layui-input" v-model="menu.url"
										 lay-verify="required">
									</div>
								</div>
								<div v-if="menu.type == 1 || menu.type == 2" class="layui-form-item">
									<label class="layui-form-label">授权标识</label>
									<div class="layui-input-block">
										<input type="text" name="perms" placeholder="多个用逗号分隔，如：user:list,user:create" autocomplete="off" class="layui-input"
										 v-model="menu.perms">
									</div>
								</div>
								<div v-if="menu.type != 2" class="layui-form-item">
									<label class="layui-form-label">排序号</label>
									<div class="layui-input-block">
										<input type="number" name="orderNum" placeholder="排序号" autocomplete="off" class="layui-input" v-model="menu.orderNum">
									</div>
								</div>
								<div v-if="menu.type != 2" class="layui-form-item">
									<label class="layui-form-label">图标</label>
									<div class="layui-input-block">
										<input type="text" name="icon" placeholder="菜单图标" autocomplete="off" class="layui-input" v-model="menu.icon">
										<span style="margin-top:4px; display: block; padding: 2px 4px; color: #c7254e; background: #f9f2f4; border-radius: 4px;">获取图标：http://fontawesome.io/icons/</span>
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button type="button" class="layui-btn" lay-submit lay-filter="saveBtn" @click="saveOrUpdate">确定</button>
										<button type="button" class="layui-btn layui-btn-primary" @click="reload">返回</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- 选择菜单 -->
		<div id="menuLayer" style="display: none;padding:10px;">
			<ul id="menuTree" class="ztree"></ul>
		</div>

		<script src="../../libs/jquery.min.js"></script>
		<script src="../../plugins/layer/layer.js"></script>
		<script src="../../libs/vue.min.js"></script>
		<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
		<script src="../../plugins/layui-v2.4.5/layui/layui.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/modules/sys/menu.js"></script>

	</body>
</html>
